
  @import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Quicksand:wght@600&family=Red+Hat+Display:wght@600&family=Rubik+Microbe&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #c5c6c8 !important;
  margin-bottom: 5px !important;
}
body{
  background-color: #c5c6c8 !important;
}

