.btn{
    
}
th{
    background-color: #7ec3af !important;
    border-color: black;
}

tr,td{
    /* border-bottom: 1px solid #ddd !important; */
    background-color: #7ec3af !important;
    border-color: black;
}